# Base URL of the Omeka instance.
OMEKA_URL=https://omeka.acearchive.lgbt

# Base URL which files are served from.
FILES_URL=https://files.acearchive.lgbt

# Omeka API key identifier.
OMEKA_KEY_ID=

# Omeka API key credential.
OMEKA_KEY_CRED=
