# Base URL of the Omeka instance.
OMEKA_URL=https://omeka.acearchive.lgbt

# Base URL which files are served from.
FILES_URL=https://files.acearchive.lgbt

# The port to listen on.
PORT=8081

# A scratch directory for writing temporary data to.
DATA_DIR=./data/

# Omeka API key identifier.
OMEKA_KEY_ID=

# Omeka API key credential.
OMEKA_KEY_CRED=
